@import 'variables';
.hero-about {
  // min-height: 40vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  @include breaks(large) {
    max-height: 50vh;
  }
  .hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      110.9deg,
      #fc6e9bcd 8.4%,
      #fc937396 53.2%,
      #ff7272da 100.3%
    );
  }
  video {
    width: 100%;
    max-width: 75rem;
    object-fit: cover;

    z-index: 0;
    &::-webkit-media-controls {
      display: none !important;
    }
  }
}

.reviews-container {
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  overflow: hidden;
  & > * {
    flex: 1;
  }
  @include breaks(large) {
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .review {
    padding: 2rem 0;
    min-height: 13rem;
    max-width: 40ch;
    p {
      transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
      &.change {
        opacity: 0;
        transform: translateY(-20%);
      }
    }
    &:nth-of-type(2) {
      border-bottom: 0.5px solid $black;
      border-top: 0.5px solid $black;
    }

    @include breaks(large) {
      padding: 0 2rem;
      &:nth-of-type(2) {
        border-bottom: none;
        border-top: none;
        border-left: 0.5px solid $black;
        border-right: 0.5px solid $black;
      }
    }
  }
}
footer {
  background: $accent-04;
  color: $black;
  margin-top: var(--space-m);
  padding: var(--space-s) 0;
  font-size: var(--step-4);
  text-align: center;
}

.about-section {
  color: $black;
  padding-top: var(--space-l-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @include breaks(large) {
    flex-direction: row;
    & > * {
      flex: 1 0 50%;
    }
  }
  h1 {
    font-size: var(--step-4);
    font-weight: 300;
    margin-bottom: var(--space-m-l);
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: $dark;
  }
  p {
    max-width: 60ch;
  }
}

// ------------------- Gallery ---------------------- //

.gallery-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .gallery-imgs {
    height: 100%;
    max-width: 40rem;
    min-height: 20rem;
    aspect-ratio: 5 / 7;
    overflow: hidden;
    margin: 0 auto;
  }
}
.gallery-items {
  width: 100%;
  max-width: 21rem;
  min-height: 20rem;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include breaks(medium) {
    width: 80%;
    max-width: 40rem;
  }
  @include breaks(large) {
    min-height: 30rem;
  }
}
.gallery-item {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.gallery-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  .gallery-btn {
    display: inline-flex;
    background-color: $accent-04;
    border: none;
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: background-color 0.4s ease;
    &.active {
      background-color: $accent-03;
    }
  }
}

.img-enter-active {
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
}
.img-leave-active {
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.img-enter-from {
  opacity: 0;
  transform: translateX(-10%);
}
.img-leave-to {
  opacity: 0;
  transform: translateX(20%);
}
