@import 'variables';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: $accent-05;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: #fafafa;
  transition: color 0.5s, background-image 0.5s, background-color 0.4s ease;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
a,
button,
input,
textarea {
  font-family: inherit;
}

.t-cursive {
  font-family: 'WindSong', cursive;
}
.t-sans {
  font-family: 'Lato', sans-serif;
}
.t-serif {
  font-family: 'Lora', serif;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
// .container {
//   max-width: 95%;
//   margin: 0 auto;
// }
// @include breaks(medium) {
//   .container {
//     max-width: 90%;
//   }
// }
// @include breaks(large) {
//   .container {
//     width: 90%;
//     max-width: 67.5rem;
//   }
// }
// .flex {
//   display: flex;
//   gap: var(--gap, 1rem);
// }

.container {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 var(--space-s);
  height: 100%;
  // @include breaks(large) {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-columns, auto-fill),
    minmax(var(--grid-min-size, 16rem), 1fr)
  );
  gap: var(--grid-gap, var(--space-s));
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap, var(--space-s));
  justify-content: var(--flex-inline-align, flex-start);
  align-items: var(--flex-block-align, center);
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap, var(--space-s));
  justify-content: var(--flex-block-align, flex-start);
  align-items: var(--flex-inline-align, center);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
