@import 'variables';
.contact {
  background-image: linear-gradient(110deg, #ff4a83 4%, #ffa0bb 45%, #fe879f 100%);
}
.hero-contact {
  background-image: linear-gradient(
      110.9deg,
      #fc6e9bcd 8.4%,
      #fc9373c0 53.2%,
      #ff7272da 100.3%
    ),
    url('/img/about/d-img-01.jpg');
  background-position: center 30%;
  min-height: 35vh;
  padding: 11rem 0 0 0;
}

.contact-container {
  --grid-gap: 2em;
  --grid-columns: 1;
  padding-block: 3rem 2rem;
  color: $dark;
  align-items: center;
  justify-items: center;
  @include breaks(large) {
    --grid-columns: 2;
  }
  .map-container {
    width: 100%;
    max-width: 35.25rem;
    --flex-inline-align: center;
    --flex-block-align: center;
  }

  iframe {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 5 / 4;
    margin: 0 auto;
  }
}
.details-container {
  width: 100%;
  padding: 0 var(--space-m);
  --flex-gap: 1em;
  --flex-inline-align: flex-start;
  font-size: var(--step-0);
}
