@import 'variables';
.home {
  background: radial-gradient(
      circle at 69% 3%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.06) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 85% 72%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 43% 49%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 12% 98%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.08) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 37% 52%,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 22% 59%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.08) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 25% 56%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 22% 79%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 80% 81%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 52% 16%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(145deg, #fca5c0 8.4%, #ff9fb9 53.2%, #fdaaaa 100.3%);
}

.main-content {
  max-width: 39rem;
  margin: 0 auto;
  padding: 10rem 0 2rem 0;
  --grid-columns: 1;
  --grid-gap: 4rem;

  @include breaks(large) {
    --grid-columns: 2;
    --grid-gap: 2rem;
    max-width: unset;
  }
  @include breaks(x-large) {
    --grid-gap: 3rem;
  }
}

.main-img {
  position: relative;
  .text-blob {
    opacity: 0;
    position: absolute;
    left: 25%;
    top: 0;
    font-size: var(--step-6);
    font-weight: 700;
    height: 100%;
    text-transform: uppercase;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    text-align: center;
    color: transparent;
    transition: opacity 0.6s ease-in;

    p {
      font-weight: bold;
      letter-spacing: 5px;
      line-height: 1.35;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: hsl(339, 90%, 73%);
    }
    &.show {
      opacity: 1;
    }
  }
  #svgMask image {
    opacity: 0;
    transition: opacity 0.8s ease;
    &.show {
      opacity: 1;
    }
  }
}
.main-content__text {
  color: $dark;
  padding: 5em 1em 4em;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-lg);
  background-image: linear-gradient(30deg, #fca5c0 10%, #ff9fb9 35%, #fdaaaa 100%);

  .main-text {
    text-align: left;
  }
  p {
    max-width: 43ch;
    @include breaks(large) {
      max-width: 50ch;
    }
  }
}

.main-title {
  font-size: var(--step-5);
  color: $dark;
  line-height: 0.9;
  margin-bottom: 1.2rem;

  p {
    color: $white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #b5717c;
  }

  small {
    font-size: var(--step-3);
    font-weight: 300;
  }
}
.home-cta {
  align-self: center;
  font-weight: 400;
  color: $white;
  position: relative;
  font-size: var(--step-0);
  margin-top: var(--space-m);
  z-index: 2;
  &:hover::before {
    background-color: $accent-03;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
    background-color: $accent-02;
    transition: background-color 0.4s ease;
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 2em;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
    border: 2px solid rgb(255, 199, 199);
    animation: cta-anim 7s ease-in-out infinite;
    z-index: -2;
  }
}

@keyframes cta-anim {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-90%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
